<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Paws and Claws Blog</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    body, p, h1, h2, h3, h4, h5, h6 {
      font-family: 'Times New Roman', Times, serif;
    }
  
  </style>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand">Paws and Claws Blog</p>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li id="home"><a href="/">HOME PAGE</a></li>
          <li id="health"><a href="/health">HEALTH</a></li>
          <li id="breeds"><a href="/breeds">BREEDS</a></li>
          <li id="photo"><a href="/photo">TAKE A PHOTO</a></li>
          
        </ul>
    </div>
  </nav>
  

  <body>
    <div class="container">
