<%- include("partials/header"); -%>
<style>
    body {
        font-family: 'Times New Roman', Times, serif, sans-serif;
        text-align: center;
        padding: 20px;
    }
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .image-container img {
        width: 50%;
        margin-right: 10px;
        transition: border-color 0.3s ease; 
    }
    
    .image-container img:nth-child(2) {
        width: 35%;
    }
</style>

<h1>FURRY THERAPISTS</h1>
<br>
<h2 style="text-align: left;">REDUCED STRESS AND ANXIETY</h2>
<p style="text-align: justify; font-size: 1.3em;">
    Spending time with a cat can make you feel less stressed and anxious because it releases relaxing hormones like oxytocin. It can help you feel more relaxed and calm.
</p>

<div class="image-container">
    <img src="https://bi.im-g.pl/im/48/b8/17/z24872264AMP.jpg" alt="Image 2">
</div>

<h2 style="text-align: left;">BOOSTED IMMUNITY</h2>
<p style="text-align: justify; font-size: 1.3em;">
    Being around cat allergens from a young age can make your immune system stronger, lowering the chances of developing allergies and getting sick.
</p>

<div class="image-container">
    <img src="https://img.joemonster.org/images/vad/img_38457/9ea1f1117f0dc08daac06dbf34d007e4.gif" alt="Image 2">
</div>


<h2 style="text-align: left;">IMPROVED HEART HEALTH</h2>
<p style="text-align: justify; font-size: 1.3em;">
    Hanging out with a cat regularly can lower your blood pressure and heart rate, which helps reduce the risk of heart diseases.
</p>

<div class="image-container">
    <img src="https://dontop.pl/wp-content/uploads/2023/02/Obroza-dla-kota.jpg" alt="Image 2">
</div>
<%- include("partials/footer"); -%>
